.setting{
    display: flex;
}

.settingWrapper{
    flex: 9;
    padding: 20px;
}

.settingTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settingUpdateTitle{
    font-size: 30px;
    margin-bottom: 20px;
    color: lightcoral;
}
.settingDeleteTitle{
    color: red;
    font-size: 12px;
    cursor: pointer;
}

.settingForm{
    display: flex;
    flex-direction: column;
}

.settingPP{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.settingPP > img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.settingPPIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: lightcoral;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}

.settingForm > label{
    font-size: 20px;
    margin-top: 20px;
}

.settingForm > input{
    margin: 10px 0;
    color: gray;
    border: none;
    height: 30px;
    border-bottom: solid 1px lightgray;

}

.settingUpdate{
    cursor: pointer;
    background-color: teal;
    padding: 10px;
    color: white;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    width: 150px;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
}